<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-md-8 p-0">
            <img src="./assets/img.jpg" alt="Registration Image" class="registration-image img-fluid">
        </div>
        <div class="col-md-4 p-0 formData">
            <div class="form-group text-center">
                <app-navbar></app-navbar>
                <!-- <button type="submit" class="btn submit">Join PANDA</button> -->
            </div>

            <div class="card border-container"> 
                <div class="card-header head">
                    <div class="image-header">
                        <img src="./assets/Union.png" alt="">
                    </div>
                </div>
                <div class="form-group text-center">
                    <h1>Reset password</h1>
                    <br>
                    <!-- <h3>Takes less than <span class="fiveMinutes">5 minutes</span>...</h3> -->
                </div>
                <div class="card-body">
                    <form>
                        <!-- <div class="form-group">
                            <input type="email" class="form-control custom-input" id="email" placeholder="Enter email">
                            <small>Please enter your login email address to receive your password reset link.</small>
                        </div> -->
                        <div class="form-group text-center">
                            <div class="input-group">
                                <input type="{{ showPassword ? 'text' : 'password' }}"
                                    class="form-control custom-input same-width" id="password" placeholder=" Enter New Password">
                                <div class="input-group-append">
                                    <button class="btn show" type="button"
                                        (click)="togglePasswordVisibility()">Show</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="input-group">
                                <input type="{{ showPassword ? 'text' : 'password' }}"
                                    class="form-control custom-input same-width" id="confirmPassword"
                                    placeholder="Re-Enter New Password">
                                <div class="input-group-append">
                                    <button class="btn show" type="button"
                                        (click)="togglePasswordVisibility()">Show</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <!-- <div class="form-group databoxes text-center">
                <label class="checkboxData"> <span class="text"><a class="forgot-password"
                            routerLink="/forgot-password">Forgot Password?</a></span></label>
            </div> -->


            <div class="form-group text-center">
                <button type="submit" class="btn submit"><a class="resetButton" routerLink="/login">Reset My Password</a></button>
            </div>
        </div>
    </div>
</div>