<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-md-3">
            EN - FR
        </div>
        <div class="col-md-3">
            Bienvenue sur P NDA
        </div>
        <div class="col-md-3">
            <a href="" class="linkData">Créer un compte</a>
        </div>
        <div class=" col-md-auto">
            <a routerLink="/login" class="linkData">Sign In</a>
        </div>
    </div>

    <div class="row mt-4"></div>

    <div class="row justify-content-evenly">
        <div class="col-md-1">Text 1</div>
        <div class="col-md-1">Text 2</div>
        <div class="col-md-1">Text 3</div>
        <div class="col-md-1">Text 4</div>
        <div class="col-md-1">Text 5</div>
        <div class="col-md-1">Text 6</div>
        <div class="col-md-1">Text 7</div>
        <div class="col-md-1">Text 8</div>
    </div>

    <div class="row mt-4"></div>
    <div class="row mt-4"></div>

    <div class="row">
        <div class="col-12 text-center">
            <h1>Nous réunissons experts du monde</h1>
            <h1>entier et organisations en Afrique</h1>
        </div>
    </div>

    <div class="row justify-content-evenly align-items-center mt-4">
        <div class="col-md-3">
            <h2 class="subtitle">Organisations en Afrique</h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus deserunt expedita unde rem. Voluptatum suscipit quae quam odio, consequuntur ipsa reiciendis
            perspiciatis, quis, quod ad sequi eveniet commodi aut vel dicta ut ducimus at obcaecati ullam!
        </div>
        <div class="col-md-6 text-center image">
            <img src="./assets/img2.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-3">
            <h2 class="subtitle">Experts</h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nisi
            sunt deserunt cupiditate dignissimos voluptatum, voluptas temporibus beatae quasi, aut tempora debitis vel
            est quibusdam, corporis quaerat nobis quod. Suscipit vero architecto ullam sunt quae quisquam, distinctio
            inventore qui.
        </div>
    </div>

    <div class="row mt-4"></div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h1 class="sub">Missions de PANDA</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md box">
            <p>01</p>
            <h1>Networking</h1>
            <p>Faciliter la mise en réseau “networking” entre les organisations situées en Afrique et les experts et
                entrepreneurs africains et internationaux.</p>
        </div>
        <div class="col-md box">
            <p>01</p>
            <h1>Networking</h1>
            <p>Faciliter la mise en réseau “networking” entre les organisations situées en Afrique et les experts et
                entrepreneurs africains et internationaux.</p>
        </div>
        <div class="col-md box">
            <p>01</p>
            <h1>Networking</h1>
            <p>Faciliter la mise en réseau “networking” entre les organisations situées en Afrique et les experts et
                entrepreneurs africains et internationaux.</p>
        </div>
        <div class="col-md box">
            <p>01</p>
            <h1>Networking</h1>
            <p>Faciliter la mise en réseau “networking” entre les organisations situées en Afrique et les experts et
                entrepreneurs africains et internationaux.</p>
        </div>
        <div class="col-md box">
            <p>01</p>
            <h1>Networking</h1>
            <p>Faciliter la mise en réseau “networking” entre les organisations situées en Afrique et les experts et
                entrepreneurs africains et internationaux.</p>
        </div>
    </div>
</div>